<h1>Home#index</h1>
<p>
  Find me at app/views/home/index.html.erb. Make sure to clear out the file
  before you start working. The other files, _erb, _mvc, _filetree can be deleted.
</p>
<h2>This Template</h2>
<p>
  This rails 6 template will give you a good starting point when working 
  on software engineering projects. The following have already been
  installed and configured...
  <ul>
    <li>Rails 6</li>
    <li>Bootstrap 4. Just add the classes.</li>
    <li>User logins</li>
    <li>Devise user authentication system</li>
    <li><i>better_errors</i> (Better error pages. Seems to not work on the VM.)</li>
    <li><i>web_console</i> (put <mark><%% console %></mark> in a view to have a console on the page)</li>
    <li>A basic layout</li>
  </ul>
</p>
<h2>Devise</h2>
<p>
  Devise is a user authenitification system for ruby on rails designed around
  another program called warden. You will not need to change anything regarding
  its settings unless you are changing login behavior, which is unlikely.
</p>
<p>
  All pages require login by default. The home page has been set to bypass this.
</p>
<p>
  To make a page not require login, add <mark>skip_before_action :authenticate_user!</mark>
  on top of the controller. To limit it to specific methods of a controller,
  tack on <mark>only: ['method_name']</mark> at the end of the line.
  You can add more than one method.
</p>
<h2>Bootstrap</h2>
<p>
  Bootstrap is a CSS and javascript library made by twitter to "bootstrap"
  website development. CSS can be very difficult to work with. Bootstrap
  makes it dramatically easier by giving you an entire library of premade
  classes. If you want to make something look better, bootstrap can
  almost certainly do it without you writing css. For more details,
  <a href="https://getbootstrap.com/docs/4.4/getting-started/introduction/">
    see the documentation</a>.
</p>
<%= render 'mvc' %>
<%= render 'filetree' %>
<%= render 'erb' %>
<h2>Common errors</h2>
<ul>
  <li><b>Pending Migrations:</b> In the console, run <mark>rails db:migrate</mark>. There are databases changes you've written that aren't applied.</li>
  <li><b>Cannot find route for X:</b> The page and action you're trying to do does not exist. Make sure the controller is linked in the routes file, including all nonstandard ones (scaffolding didn't make))</li>
  <li><b>I want to login but don't know password:</b> Default logins are admin@example.com|password and user@example.com|password. If they don't work, see the question mark entry below.</li>
  <li><b>Yarn packages are out of date:</b> In the console, run <mark>yarn install --check-files</mark>. The javascript packages are out of date.</li>
  <li><b>There's a question mark in the top left corner:</b> In the console, run <mark>rails db:reset</mark>. The initial data isn't in the DB.</li>
</ul>
<hr>
<p>
  All in all, use the documentation in this template to your advantage!
  Stack Overflow has tons of resources for ruby on rails and your upperclassmen
  peers can probably give you a hand with rails questions should you need it.
  Plus, if you have a student aid to the class, <i>take advantage of them!</i>
</p>
<p>
  Good luck, and have a great semester!
</p>
<p>
  <i>Ethan Zeigler, '20</i>
</p>
<p class="text-muted" style="font-size: 8pt">
  This template was approved by Pulimood for use in fall 2019. If she says that
  has changed, please let me know and I'll talk with her about what needs to be
  done to fix that.
</p>
